.label-desc {
    margin: 0;
    font-weight: 300;
}

.mb-0 {
    margin-bottom: 0;;
}

.embl-scan-button {
    padding: 2px 10px !important;
}
.embl-scan-button > span {
    display: block;
    text-align: center;
}
.embl-scan-button__text {
    font-size: 13px;
    line-height: 13px;
}

.embl-scan-button__desc {
    font-size: 9px;
    line-height: 9px;
}
